.list-div {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: stretch;
}
.list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
strong{
    margin-left: 2%;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;

}

ul > input[type="text" i] {
   width:1%;
}